certifi==2020.12.5
click
et-xmlfile==1.0.1
Flask
itsdangerous
Jinja2
MarkupSafe==1.1.1
numpy==1.20.2
openpyxl==3.0.7
pandas==1.2.3
plotly==4.14.3
python-dateutil==2.8.1
pytz==2021.1
retrying==1.3.3
six==1.15.0
virtualenv==16.6.1
Werkzeug
wincertstore==0.2
xlrd==2.0.1
