<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gauge</title>
    <link href="/static/vender/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link href="/static/vender/css/font-awesome.min.css" rel="stylesheet">
    <!--Custom Font-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <![endif]-->
</head>
<body>
{% block content %}
{% endblock %}

</body>
<script src="/static/vender/js/bootstrap.min.js"></script>



</body>
</html>